<div class="interior">
  <%if @message%>

  <%=@message%>

  <%elsif @restaurants%>
  <h3>Hey, we couldn't find what you're looking for.</h3>
  <h3>So we created it for ya!</h3>
  <% @restaurants.each do |restaurant| %>
  <ul>
    <li><h3><%=link_to restaurant.name, restaurant_path(restaurant)%></h3></li>
  </ul>
  <%end%>

  <%else%>

  <% if !@restaurants_by_location.empty? %>
    <h2>Location</h2>
      <% @restaurants_by_location.each do |restaurant|%>
    <ul>
      <li><h3><%=link_to restaurant.name, restaurant_path(restaurant)%></h3></li>
    </ul>
    <%end%>
  <% end %>

  <% if !@restaurants_by_name.empty? %>
    <h2>Name</h2>
      <%@restaurants_by_name.each do |restaurant|%>
    <ul>
      <li><h3><%=link_to restaurant.name, restaurant_path(restaurant)%></h3></li>
    </ul>
  <%end%>
  <% end %>



  <%end%>
</div>
