/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #3AB795;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  margin: 0;
}

.container {
  order: 2;
  width: 70%;
  background-color: white;
  display: flex;
  /*justify-content: space-around;*/
  /*padding: 50px;*/
  margin: 0 auto;
}

.search-bar {
  width: 800px;
  max-width: 90%;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 15px #888888;
  margin-right: 5px;
}

.search-bar:focus{
  outline: none;
  background-color: white;
}

.search-button {
  display: inline;
  background-color: #2d9376;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size:  18px;
  margin: 30px 0px;
  box-shadow: 5px 5px 15px #888888;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
  align-items: stretch;
  order: 1;
}

nav a {
  color: white;
}

.session-nav {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:  0px;
  background-image: image-url("background.jpeg");
  background-attachment: fixed;
  /*background-position: center;*/
  background-repeat: no-repeat;
  height: 500px;
  flex-direction: column;
}

.session-nav span {
  padding: 15px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Itim', cursive;
  font-size: 55px;
  color: white;
  margin: 0px;
}

span.slogan {
  font-family: 'Itim', cursive;
  color: white;
  font-size: 50px;
  order: 1;
  text-shadow: 5px 5px 15px #333333;
}

.home-search-bar {
  order: 2;
}

@media only screen and (max-width: 1000px) {
  .search-bar {
    width: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .search-bar {
    width: 350px;
    font-size: 14px;
  }
  .search-button {
    justify-content: center;
  }
}

li {
  list-style-type: none;
}

footer{
  background-color: #333333;
  order: 3;
  text-align: center;
  padding: 30px 0px;
}

 footer li{
  display: inline;
  color: #5E5E5E;
  font-size: 13px;
  padding: 0px 30px;
 }

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.index-categories {
  order: 1;
  margin-right: 100px;
  flex-grow: 1;
  align-items: stretch;
  background-color: #5E5E5E
}

.index-categories ul {
  margin:0;
  padding: 0;

}

.index-categories li {
  padding: 30px 50px;
  cursor: pointer;
  background-color: #5E5E5E;
  color: white;
}

.index-categories li:hover {
  background-color: #2D9376;
}

.index-categories li.active{
  background-color: white;
  color: #333333;
  font-weight: bold;
}

.index-sorts {
  order: 2;
  padding: 10px 50px 30px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.index-sorts table {
  width: 100%;
}
h3 a {
  color: #2D9376;
}

.index-sorts td {
  color: #5E5E5E;
}

.score {
  font-size: 18px;
  color: #333333;
}

form {
  padding: 10px;
}

label {
  display: block;
  padding-top: 10px;
}

input[type="submit"] {
  display: block;
  border: none;
  background: #2D9376;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 16px;
}

textarea{
  border-radius: 10px;
  border: 2px solid #3AB795;
  font-size: 16px;
}

.interior {
  margin: 0 auto;
  padding: 30px;
}

.interior ul{
  margin:0;
  padding: 0;
}

.restaurant-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 30px;
}

.restaurant-details {
  order: 1;
}

.restaurant-scores{
  order: 2;
  padding-bottom: 30px;
}

.restaurant-reviews {
  border-top: 2px solid #2D9376;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
}

.individual-review {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px dashed #3AB795;
  width: 100%;
  padding: 30px;
}

.individual-stats{
 order: 1;

}

.individual-comments{
 order: 2;
}

.add-review, .add-favorite{
  background-color: #2D9376;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  display: block;
}

.no-review{
  padding: 30px;
}

.errors {
  background: #DB3A34;
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
}

.add-review-errors {
  color: red;
}
.field_with_errors {
  display: inline;
}

input {
  padding: 30px;
}
